<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
 	<!-- 配置登录页面 -->
 	<context-param>
 		<param-name>login_page</param-name>
 		<param-value>/index.jsp</param-value>
 	</context-param>
 	
 	<!-- 配置需要登录才能操作的页面路径 -->
	<context-param>
		<param-name>validate_page</param-name>
		<param-value>/main.jsp,/info.do,/saveInfo.do,/sys.jsp,/sys.do,/add.jsp,/add.do,/out.jsp,/main.do,/user.do,/user.jsp</param-value>
	</context-param>

	<!-- 配置不需要登录就能访问的页面 -->
	<context-param>
		<param-name>common_page</param-name>
		<param-value>/index.jsp,/login.do,/getpass.jsp,/updatepass.jsp</param-value>
	</context-param>
 
 
	<!-- 配置loginServlet -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.vshop.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>

<!-- 配置InfoServlet -->
	<servlet>
		<servlet-name>infoServlet</servlet-name>
		<servlet-class>com.vshop.servlet.InfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>infoServlet</servlet-name>
		<url-pattern>/info.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置保存SaveInfoServlet -->
	<servlet>
		<servlet-name>saveInfoServlet</servlet-name>
		<servlet-class>com.vshop.servlet.SaveInfoServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>saveInfoServlet</servlet-name>
		<url-pattern>/saveInfo.do</url-pattern>
	</servlet-mapping>
	
	<!-- 配置添加联系人信息addUserServlet -->
	<servlet>
		<servlet-name>addUserServlet</servlet-name>
		<servlet-class>com.vshop.servlet.AddUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addUserServlet</servlet-name>
		<url-pattern>/add.do</url-pattern>
	</servlet-mapping>
	
<!-- 查询当前用户的所有子节点MainServlet -->
	<servlet>
		<servlet-name>mainServlet</servlet-name>
		<servlet-class>com.vshop.servlet.MainServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/main.do</url-pattern>
	</servlet-mapping>
	
	<!-- 系统设置SysServlet -->
	<servlet>
		<servlet-name>sysServlet</servlet-name>
		<servlet-class>com.vshop.servlet.SysServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sysServlet</servlet-name>
		<url-pattern>/sys.do</url-pattern>
	</servlet-mapping>
	
	<!-- 查询用户SelectUserServlet -->
	<servlet>
		<servlet-name>selectUserServlet</servlet-name>
		<servlet-class>com.vshop.servlet.SelectUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>selectUserServlet</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>

	<!-- 配置编码方式Filter-->
	<filter>
		<filter-name>charsetEncoding</filter-name>
		<filter-class>com.vshop.filter.CharsetEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>charsetEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 配置登录验证Filter-->
	<filter>
		<filter-name>validateLoginFilter</filter-name>
		<filter-class>com.vshop.filter.ValidateLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>validateLoginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>validateLoginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
  
 
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
